html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #d7ffc6;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7ffc6), to(#629e67));
  background: linear-gradient(to bottom, #d7ffc6 0%, #629e67 100%);
  background-attachment: fixed;
}

#nav {
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Alata', sans-serif;
  margin: 70px 0px 90px;
}

#nav__link {
  padding: 0 7.5px;
  text-decoration: none;
  color: #6a7d80;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#nav:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  margin: 0 auto 10px;
}

.socialmedia__icon:focus {
  outline: none;
}

.socialmedia__icon:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
}

.socialmedia__icon--soon a {
  opacity: 20%;
  cursor: not-allowed;
}

.socialmedia__img {
  height: 20px;
  background: white;
  padding: 5px;
  border-radius: 20px;
}

#cardcontainer {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Alata', sans-serif;
}

.card {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  border-radius: 5px;
  background: #f3f1eb;
  border: 4px #f3f1eb solid;
  width: 750px;
  -webkit-box-shadow: #00000014 -2px 4px 8px 0px;
          box-shadow: #00000014 -2px 4px 8px 0px;
}

.card__img {
  border-radius: 5px;
  max-height: 150px;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  color: #684169;
}

.card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.card:nth-child(even) span {
  padding: 20px 20px 20px 32px;
}

.card .card:nth-child(odd) span {
  padding: 20px 32px 20px 20px;
}

.email {
  text-align: center;
  background-color: #d5f57f00;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Dosis";
  color: #222;
  border-radius: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 30px auto 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  border: #f3f1eb solid 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email--soon::after {
  margin: 2.5px 0 0 20px;
  content: "coming soon";
  text-align: center;
  position: absolute;
  font-size: 12px;
  background-color: black;
  padding: 3px 5px;
  border-radius: 5px;
  height: 18px;
  width: 90.44px;
  font-family: Alata;
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  letter-spacing: 1px;
  word-break: keep-all;
  margin: -3px 0 0 400px;
  cursor: default;
}

.email:focus {
  outline: none;
}

.email:hover {
  background-color: #f3f1eb;
  color: #684169;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 230px;
}

.email:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#captcha {
  margin: 20px auto 80px;
  width: 40%;
  height: auto;
  padding: 25px;
  background: #f3f1eb;
  border-radius: 5px;
  -webkit-box-shadow: #00000014 -2px 4px 8px 0px;
          box-shadow: #00000014 -2px 4px 8px 0px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */